$main-color: #1869bc;
$bg-color: #fff;

/*---------------------------------
button common
---------------------------------*/
.pr15 {
  padding-right: 15px;
}
/*---------------------------------
パターン1
---------------------------------*/
.nav {
  margin: 50px auto;
  width: 500px;
  ul {
    display: flex;
    justify-content: space-around;
  }
  &-common {
    border-radius: 5px;
    padding: 5px 14px;
    margin: 3px;
    font-size: 1.2rem;
    color: $main-color;
    &:hover {
      background: $main-color;
      color: #fff;
    }
  }
  &-bg {
    background: #acfff3;
    transition: background 5s ease;
    &:hover {
      transition: background 5s ease;
    }
  }
  &-color {
    background: rgb(239, 255, 146);
    transition: color 5s ease;
    &:hover {
      transition: color 5s ease;
    }
  }
  &-balance {
    background: rgb(255, 210, 229);
    transition: color 5s ease, background 5s ease;
    &:hover {
      transition: color 5s ease, background 5s ease;
    }
  }
}

/*---------------------------------
パターン2
---------------------------------*/
.m-auto {
  text-align: center;
  margin: 0 auto;
}

.button {
  width: 400px;
  background: $main-color;
  color: #fff;
  border-radius: 10px;
  position: relative;
  height: 50px;
  font-size: 1.4rem;
  transition: 0.5s ease all;
  border: none;
  &:hover {
    background: $bg-color;
    color: $main-color;
    &:before {
      width: 100%;
      transition: 0.5s ease 0.2s all;
    }
    &::after {
      animation: arrow 1.2s 0.7s infinite;
    }
  }
  &:before {
    content: '';
    position: absolute;
    right: 0;
    height: 3px;
    width: 0;
    background: $main-color;
    // top: inherit;
    left: 0;
    bottom: 0;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0.8rem;
    margin-top: -5px;
    border: 7px solid transparent;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-color: $main-color;
    opacity: 0;
  }
}

@keyframes arrow {
  50% {
    right: 0.2em;
    opacity: 1;
  }

  100% {
    right: -0.4em;
    opacity: 0;
  }
}

/*---------------------------------
パターン3
---------------------------------*/
.rotate-icon {
  position: relative;
  text-align: center;
}

.icon-text {
  font-size: 1.7rem;
  color: #fff;
  position: absolute;
  margin: 0 auto;
  top: 38px;
  left: 0;
  right: 0;
  z-index: 20;
}

.icon-hover {
  opacity: 0;
  transition: 0.3s ease;
  &:hover {
    transition: 0.3s ease;
    opacity: 1;
  }
}

.sunflower {
  width: 8rem;
  margin: 0px auto;
  position: absolute;
  left: 0;
  right: 0;
  animation: sunflower 2s linear infinite alternate;
}

@keyframes sunflower {
  0% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}
