// -----------------
// jQuery
// -----------------
.item-title {
  margin-bottom: 100px;
}

.j-fade-wrap {
  position: relative;
  margin: 0 auto;
  justify-content: center;
  width: 450px;
  height: 450px;
  img {
    width: 450px;
    height: 450px;
    object-fit: cover;
  }
}

.content-title {
  text-align: center;
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
}

.bg-red {
  background: palegoldenrod;
}
.bg-blue {
  background: rgb(177, 233, 255);
}
.bg-green {
  background: lightgreen;
}
.bg-plum {
  background: plum;
}

.fade {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: opacity 1s, visibility 1s, transform 1s;
}

.scroll {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
