$bg-color: #000;
$text-color: #fff;

.slide-show {
  width: 100%;
  &-wrap {
    display: flex;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: $bg-color;
  }
}
.slide-list {
  display: flex;
}

.slide-item-left {
  width: calc(100% / 11);
  padding: 14px 7px 7px 7px;
}
.slide-img-left,
.slide-img-right {
  height: 100px;
}

.slide-item-right {
  width: calc(100% / 12);
  padding: 7px 7px 14px 7px;
}

.slide-left {
  animation: slide-left 55s infinite linear both;
}
@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slide-right {
  animation: slide-right 65s infinite linear both;
}
@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.recommend {
  width: 95%;
  margin: 0 auto;
  &-box {
    overflow-x: scroll;
    display: flex;
  }
  &-wrap {
    margin-right: 14px;
  }
  &-img {
    height: 150px;
    object-fit: cover;
  }
}

.lum-lightbox.lum-open {
  z-index: 100;
}
.lum-lightbox-inner img {
  max-width: 95vw;
  max-height: 70vh;
}
